h1 {
 text-align: center;
 color: red;
 font-size: 35px;
  font-weight: normal;
  text-align: center;
  width: 150px;
  background-color: yellow
  height: 150px;
}
p {
  font-size: 18px;
  text-align: center;
  font-family: Sylfaen
}
